* {
  margin: 0;
  padding: 0;
}

.scoreboard {
  background-color: #020C14;
  width: 300px;
  height: 100px;
  margin: 30px auto;
  border-radius: 8px;
  color: #F3F1F5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.teamRed-Score, .teamBlue-Score {
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
}

.teamBlue-Score {
  background-color: #5075BE;
  padding: 5px;
}

.teamRed-Score {
  background-color: #940000;
  padding: 5px;
}
.score {
  margin-top: 10px;
}

.controls-container {
  width: 300px;
  outline: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-container {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.slide-container label {
  display: inline-block;
  padding: 3px;
  outline: 1px solid black;
  font-size: 1.25em;
  margin-top: 10px;
}
.slide-container button {
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  background-color: #262626;
  color: #F3F1F5;
  outline: none;
  margin-left: 10px;
}
.slider {
  width: 100%;
  height: 15px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgba(0,0,0,.25);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px; 
  background-color: rgba(255,255,255,.5);
  cursor: pointer; 
  
}
